<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%ContainerName"
            class="org.boomslang.geb.ui.container.GebContainerPage"
            id="org.boomslang.geb.ui.container.GebContainerPage">
      </classpathContainerPage>
   </extension>
   
</plugin>
